[user]
	email = bonl+github@eigenclave.xyz
	name = bonl

[core]
    editor = nvim
    autocrlf = input

[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    autoSetupRemote = true

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate

[includeIf "gitdir:~/dev/work/"]
    path = ~/.gitconfig.work

[color]
	ui = auto