[user]
	email = bonl+github@eigenclave.xyz
	name = b0nl

[core]
    editor = code --wait
    excludesfile = ~/.gitignore_global
    autocrlf = input

[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    autoSetupRemote = true

[color]
	ui = auto

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate
    last = log -1 HEAD --stat

[includeIf "gitdir:~/dev/work/"]
    path = ~/.gitconfig.work